<%# views/new.erb %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>sample</title>
  </head>
  <body>
    <form action="/" method="post">
      <div>
        タイトル:<input type="text" name="title" value="">
      </div>
      <div>
        本文:
        <textarea name="contents" rows="5"></textarea>
      </div>
      <div>
        <input type="submit" value="投稿する">
      </div>
    </form>
  </body>
</html>
